*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontColor: #CBA488;
    --fontColorRgb: #cba4884d;
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #fff;
}

h1{
    font-size: 5rem;
    /* line-height: 6rem; */
    color: green;
}

h2{
    font-size: 4.5rem;
    color: black;
}

/* h4 */
h3{
    font-size: 2rem;
    color: red;
}

/* h6 */
h5{
    font-size: 1.2rem;
    color: violet;
    /* color: black; */
}

p{
    font-size: 1.6rem;
    color: grey;
    margin: 15px 0 20px 0;
}

/* NAVIGATION */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

nav a.logo{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Petit Formal Script', cursive;
    text-decoration: none;
    color: var(--fontColor);
    width: 40%;
}

nav section{
    width: 60%;
}

nav .menu{
    display: flex;
    justify-content: space-around;
}

nav .menu li{
    list-style: none;
    width: 90px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

nav .menu li a{
    color: var(--fontColor);
    text-decoration: none;
    font-size: 1.7rem;
    text-transform: uppercase;
}

nav .menu li::before{
    content: "";
    display: block;
    position: absolute;
    background-color: var(--fontColorRgb);
    width: 80%;
    height: 2px;
    bottom: 0;
    left: -100px;
    transition: .3s;
}

nav .menu li:hover a{
    font-weight: bold;
    color: var(--fontColorRgb);
    transition: 0.3s;
}

nav .menu li:hover::before{
    left: 0;
    transition: .3s;
}

nav .menu li.active::before{
    left: 0;
}

nav .mobile-burger, nav .menu .close{
    display: none;
}

/* HEADER SECTION */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url(/image/headres/bg_image_header.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

header h1{
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 2rem;
    color: var(--fontColor);
}

header h6{
    font-family: 'Petit Formal Script', cursive;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 80vh;
    width: 100%;
    line-height: 80vh;
    color: var(--fontColorRgb);
}

/* FEATURES SECTION */
section.features{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1300px;
    margin: 0 auto;
}

section .single-feature{
    text-align: center;
}

section .single-feature img{
    margin-bottom: 10px;
    height: 150px;
    width: auto;
    border-radius: 50%;
}

/* PRODUCTS SECTION */
.products-section{
    text-align: center;
}

.products-section .product-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 5%;
}

.products-section .product{
    padding-top: 20px;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.3s;
}

.products-section .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: 0.3s;
}

.products-section .product img{
    width: 100%;
    border-radius: 20px;
}

.products-section .product .product-info{
    text-align: start;
    padding: 10px 0;
    position: relative;
}

.products-section .product .product-info span{
    color: rgb(122, 121, 120);
    font-size: 1.2rem;
}

.products-section .product .product-info h5{
    padding-top: 7px;
    font-size: 1.4rem;
}

.products-section .product .product-info i{
    padding-top: 7px;
    font-size: 1.3rem;
    color: rgb(243, 181, 25);
}

.products-section .product .product-info h4{
    padding-top: 7px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--fontColor);
}

.products-section .product .product-info .cart{
    font-size: 2rem;
    color: var(--fontColor);
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: 0.2s;
}

.products-section .product .product-info .cart:hover{
    color: black;
    transition: 0.2s;
}

/* BANER SECTION */
.baner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 400px;
    background-image: url(/image/headres/bg_header_yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 899px) {
    nav .menu{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: white;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        padding-top: 80px;
        padding-left: 20px;
        transition: .5s;
    }

    nav .menu.active{
        right: 0;
        transition: .5s;
    }

    nav .menu .close{
        display: block;
        position: absolute;
        top: 30px;
        left: 20px;
        font-size: 2.5rem;
        cursor: pointer;
    }

    nav .menu li{
        margin-bottom: 30px;
    }
    nav .mobile-burger{
        display: flex;
        align-items: center;
    }
    nav .mobile-burger i{
        color: var(--fontColor);
        font-size: 2.3rem;
        margin-left: 20px;
        cursor: pointer;
    }

    nav a.logo{
        width: 80%;
    }
}