*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontColor: #CBA488;
    --fontColorDark: #665548;
    --fontColorRgb: #cba4884d;
    --hoverColor: #5E6D87;
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #fff;
}

h1{
    font-size: 5rem;
    /* line-height: 6rem; */
    color: green;
}

h2{
    font-size: 4.5rem;
    color: black;
}

/* h4 */
h3{
    font-size: 2rem;
    color: var(--fontColorDark);
}

/* h6 */
h5{
    font-size: 1.2rem;
    /* color: violet; */
    color: black;
}

p{
    font-size: 1.6rem;
    color: grey;
    margin: 15px 0 20px 0;
}

/* NAVIGATION */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

nav a.logo{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Petit Formal Script', cursive;
    text-decoration: none;
    color: var(--fontColor);
}
nav section{
    width: 60%;
}

nav .menu{
    display: flex;
    justify-content: space-around;
}

nav .menu li{
    list-style: none;
    width: 90px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

nav .menu li a{
    color: var(--fontColor);
    text-decoration: none;
    font-size: 1.7rem;
    text-transform: uppercase;
}

nav .menu li::before{
    content: "";
    display: block;
    position: absolute;
    background-color: var(--fontColorRgb);
    width: 80%;
    height: 2px;
    bottom: 0;
    left: -100px;
    transition: .3s;
}

nav .menu li:hover a{
    font-weight: bold;
    color: var(--fontColorRgb);
    transition: 0.3s;
}

nav .menu li:hover::before{
    left: 0;
    transition: .3s;
}

nav .menu li.active::before{
    left: 0;
}

nav .mobile-burger, nav .menu .close{
    display: none;
}

/* HEADER SECTION */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url(/image/headres/bg_image_header.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

header h1{
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 2rem;
    color: var(--fontColor);
}

header h6{
    font-family: 'Petit Formal Script', cursive;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 80vh;
    width: 100%;
    line-height: 80vh;
    color: var(--fontColorRgb);
}

/* FEATURES SECTION */
section.features{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    margin: 0 auto;
}

section .single-feature{
    text-align: center;
}

section .single-feature img{
    margin-bottom: 10px;
    height: 150px;
    width: auto;
    border-radius: 50%;
}

/* PRODUCTS SECTION */
.products-section{
    text-align: center;
}

.products-section h2{
    margin-top: 50px;
}

.products-section .product-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 5%;
}

.products-section .product{
    padding-top: 20px;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.3s;
}

.products-section .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: 0.3s;
}

.products-section .product img{
    width: 100%;
    border-radius: 20px;
}

.products-section .product .product-info{
    text-align: start;
    padding: 10px 0;
    position: relative;
}

.products-section .product .product-info span{
    font-size: 1.2rem;
}

.products-section .product .product-info h5{
    font-size: 1.4rem;
}

.products-section .product .product-info i{
    padding-top: 7px;
    font-size: 1.3rem;
    color: rgb(243, 181, 25);
}

.products-section .product .product-info h4{
    padding-top: 7px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--hoverColor);
}

.products-section .product .product-info .cart{
    font-size: 2rem;
    color: var(--fontColor);
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: 0.2s;
}

.products-section .product .product-info .cart:hover{
    color: black;
    transition: 0.2s;
}

/* BANER PROMOTION SECTION */
.banner-promotion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    min-height: 400px;
    background-image: url(/image/headres/bg_header_yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-promotion span{
    font-size: 1.7rem;
    color: var(--hoverColor);
    font-weight: bold;
}

.banner-promotion p{
    font-size: 3rem;
    font-weight: bold;
    color: var(--hoverColor);
}

.link-button{
    background-color: var(--hoverColor);
    border-radius: 10px;
    transition: .3s;
}

.link-button a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0 25px;
    line-height: 35px;
}

.link-button:hover{
    background-color: var(--fontColor);
    transition: .3s;
}

/* BANNER SERIES SECTION */
.banner-series{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin: 0 auto;
}

.banner-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    margin: 10px;
}

.banner-flex span{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.banner-series .banner-box{
    width: calc(50% - 20px);
    height: 600px;
    padding: 50px;
}

.banner-series .banner-box:nth-of-type(1){
    background-image: url(/image/banners/fast-fashion-vs-slow-sustainable-fashion\ \(3\).jpg);
}
.banner-series .banner-box:nth-of-type(2){
    background-image: url(/image/banners/cute-children-having-fun\ \(1\).jpg);
}

.banner-series .banner-box .link-button{
    width: 200px;
    text-align: center;
}

.banner-series .banner-season{
    width: 33%;
    height: 300px;
    position: relative;
    text-align: center;
    transition: 1s;
    padding: 30px;
}

.banner-series .banner-season .opacity{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fontColorRgb);
    display: none;
}

.banner-series .banner-season:hover .opacity{
    display: initial;
}

.banner-series .banner-season h3{
    z-index: 2;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.banner-series .banner-season:nth-of-type(1){
    background-image: url(/image/banners/fast-fashion-vs-slow-sustainable-fashion\ \(2\).jpg);
}

.banner-series .banner-season:nth-of-type(2){
    background-image: url(/image/banners/fast-fashion-vs-slow-sustainable-fashion\ \(1\).jpg);
}
.banner-series .banner-season:nth-of-type(3){
    background-image: url(/image/banners/top-view-monochromatic-fabrics.jpg);
}

/* NEWSLETTER SECTION */

.newsletter{
    margin: 50px 0;
    background-color: var(--fontColorDark);
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.newsletter .newsletter-text{
    padding-right: 50px;
}

.newsletter .newsletter-text h3{
    color: white;
}

.newsletter span{
    font-weight: bold;
    color: var(--fontColor);
}

.newsletter form{
    display: flex;
    justify-content: flex-end;
}

.newsletter form input{
    border: none;
    outline: none;
    height: 55px;
    width: 300px;
    border-radius: 10px 0 0 10px;
    padding: 0 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.7rem;
}

.newsletter form .newsletter-btn{
    height: 55px;
    border-radius: 0 10px 10px 0;
    background-color: var(--hoverColor);
    border: none;
    color: white;
    font-family: 'Roboto Mono', monospace;
    width: 150px;
    font-size: 1.7rem;
    transition: .3s;
}

.newsletter form .newsletter-btn:hover{
    background-color: var(--fontColor);
    transition: .3s;
}

.contact{
    display: flex;
    justify-content: space-between;
    background-color: var(--hoverColor);
}

.contact .contact-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 50px 0;
}

.contact .contact-inputs form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact .contact-inputs form legend{
    font-size: 2rem;
    color: white;
    margin-bottom: 5px;
}

.contact .contact-inputs .inputs{
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    margin-bottom: 10px;
}

.contact .contact-inputs textarea{
    resize: none;
}

.contact .contact-inputs .socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
}

.contact .contact-inputs .socials .social{
    font-size: 30px;
    color: white;
}

.contact .google-map{
    width: 50%;
}

.contact .google-map iframe{
    width: 100%;
    height: 100%;
}

footer{
    background-color: white ;
    color: var(--fontColorDark);
    text-align: center;
    padding: 20px;
}

footer a{
    color: var(--fontColorDark);
    text-decoration: none;
}



@media screen and (max-width: 1024px){
    nav .menu li{
        margin: 0 10px;
    }
}



@media screen and (max-width: 950px) {
    nav .menu{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: white;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
        padding-top: 60px;
        padding-left: 20px;
        transition: .5s;
    }

    nav .menu.active{
        right: 0;
        transition: .5s;
    }

    nav .menu .close{
        display: block;
        position: absolute;
        top: 30px;
        left: 20px;
        font-size: 2.5rem;
        cursor: pointer;
    }

    nav .menu li{
        margin-bottom: 30px;
    }
    nav .mobile-burger{
        display: flex;
        align-items: center;
    }
    nav .mobile-burger i{
        color: var(--fontColor);
        font-size: 2.3rem;
        margin-left: 20px;
        cursor: pointer;
    }

    header h1{
        font-size: 5rem;
        padding: 0 20px;
        text-align: center;
    }

    section.features{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 60px;
        padding-bottom: 60px;
        max-width: 1300px;
        margin: 0 auto;
    }
    
    section .single-feature img{
        margin-bottom: 10px;
        height: 100px;
        width: auto;
        border-radius: 50%;
    }

    .newsletter{
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 720px){
    nav{
        padding: 20px 50px;
    }

    .features .single-feature:nth-last-of-type(5){
        display: none;
    }
    .products-section .product-container{
        justify-content: space-around;
    }

    .banner-series{
        flex-wrap: wrap;
    }

    .banner-series .banner-box{
        width: 100%;
        height: 300px;
    }

    .banner-series .banner-season{
        width: 100%;
        height: 100px;
    }

    .banner{
        padding: 0 30px;
    }

    .contact{
        flex-direction: column;
    }

    .contact .contact-inputs{
        flex-direction: row;
        width: 100%;
    }

    .contact .contact-inputs .socials{
        flex-direction: column;
        width: 20%;
    }

    .contact .contact-inputs .socials .social{
        margin-top: 20px;
    }


    .contact .google-map{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    nav{
        padding: 20px 30px;
    }

    .features .single-feature{
        padding-top: 20px;
    }

    .features .single-feature:nth-last-of-type(4){
        display: none;
    }

    .newsletter form input{
        height: 55px;
        width: 200px;
        padding: 0 10px;
        font-size: 1.5rem;
    }

    .newsletter form .newsletter-btn{
        height: 55px;
        width: 100px;
        font-size: 1.5rem;
    }
    .contact .contact-inputs{
        flex-direction: column;
    }

    .contact .contact-inputs .socials{
        flex-direction: row;
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    header h1{
        font-size: 4rem;
    }

}